@model LibraryMVC.Application.ViewModel.Borrower.BorrowerDetailsVm

<div>
    <h4>Borrower Contact Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.ParentFullName)
        </dt>

        <dd class = "col-sm-10">
         @Html.DisplayFor(model => model.ParentFullName)
        </dd>

        <dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Addresses)
       </dd>
        <dd>
           @foreach(var addres in Model.Addresses)
            {

            <dd>Id: @Html.DisplayFor(address=>addres.Id)</dd>

            <dd>City: @Html.DisplayFor(address=>addres.City)</dd>

            <dd>Street:  @Html.DisplayFor(address => addres.Street) </dd>

            <dd>Country: @Html.DisplayFor(address => addres.Country)</dd>

            <dd>Email: @Html.DisplayFor(address => addres.Email)</dd>

            <dd>Phone number: @Html.DisplayFor(address => addres.TelNumber)</dd>

            }
       </dd>
       </dt>
    </dl>
</div>
<div>
   @Html.ActionLink("Edit", "Edit", new{/* id = Model.PrimaryKey */ })|
  <a1 asp-action="Index">Back to List</a1>
</div>
